/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

.mainComp{
    display:flex;


}
/*.searchInput{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    margin-top: 50px;



}*/
/*.mymain{
    display: flex;
    margin: 40px;

}*/
.mymain{
    display: flex;
    max-width:100% vw;

}
.book{
     flex:1 0 10%;
    /*flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;*/


}
